In [29]:
import re
import pandas as pd
# from pathlib import Path

In [30]:
# animal = 'chicken_109'
animal = 'chicken_grcg6a'
# animal = 'crocodile'
# animal = 'komodo'
# animal = 'turtle_painted'

# TODO: fix names for all files and columns and stuff...
# TODO: find better name for this variable

suffix = 'pic_8h'

base_filepath = f'../../data/bulk_rna/animals/{animal}/edge_r/unfiltered/{animal}.txt'
count_filepath = f'../../data/bulk_rna/animals/{animal}/edge_r/filtered/count_{suffix}.txt'
info_filepath = f'../../data/bulk_rna/animals/{animal}/edge_r/filtered/info_{suffix}.csv'

# read count matrix
df = pd.read_csv(base_filepath, 
                 delimiter = '\t',
                 index_col=0)
df

,chicken_a_control_1,chicken_a_control_2,chicken_a_lps_24h,chicken_a_lps_4h,chicken_a_lps_8h,chicken_a_pic_24h,chicken_a_pic_4h,chicken_a_pic_8h,chicken_d_control_1,chicken_d_control_2,chicken_d_lps_24h,chicken_d_lps_4h,chicken_d_lps_8h,chicken_d_pic_4h,chicken_d_pic_8h
ENSGALG00000047959,2,1,0,3,1,0,0,0,1,1,0,0,0,1,0
ENSGALG00000050708,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ENSGALG00000053790,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ENSGALG00000050336,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
ENSGALG00000049509,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSGALG00000012919,263,156,227,268,226,155,173,220,214,135,164,205,129,139,173
ENSGALG00000013102,0,0,1,0,0,1,0,1,0,0,1,1,0,0,0
ENSGALG00000005487,823,629,719,887,926,863,880,850,688,511,643,566,543,530,764
ENSGALG00000051082,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ENSGALG00000032092,645,447,586,609,619,293,310,313,483,382,474,433,317,333,338

In [31]:
# Here you pick which samples you want to compare
df: pd.DataFrame = df[["chicken_a_control_1", "chicken_a_control_2", "chicken_a_pic_8h", "chicken_d_pic_8h"]]
df

,chicken_a_control_1,chicken_a_control_2,chicken_a_pic_8h,chicken_d_pic_8h
ENSGALG00000047959,2,1,0,0
ENSGALG00000050708,0,0,0,0
ENSGALG00000053790,0,0,0,0
ENSGALG00000050336,0,0,0,0
ENSGALG00000049509,0,0,1,1
...,...,...,...,...
ENSGALG00000012919,263,156,220,173
ENSGALG00000013102,0,0,1,0
ENSGALG00000005487,823,629,850,764
ENSGALG00000051082,0,0,0,0
ENSGALG00000032092,645,447,313,338

In [32]:
df_filtered = df[(df >= 2).sum(axis=1) >= 2]
# filterig genes by TPM. in this case we take genes that have at least 2 TPMS in at least 2 libraries
# (df > 2) - this is where you control the minimum TPM for a gene
#  >= 2 - this is where you control how many samples must follow the minimun TPM rule

df_filtered

,chicken_a_control_1,chicken_a_control_2,chicken_a_pic_8h,chicken_d_pic_8h
ENSGALG00000027526,13,11,11,15
ENSGALG00000032011,7,3,8,0
ENSGALG00000005929,1139,1042,1190,1504
ENSGALG00000046425,77,42,153,93
ENSGALG00000036763,137,95,96,80
...,...,...,...,...
ENSGALG00000050198,0,0,4,4
ENSGALG00000037726,1276,566,1776,1884
ENSGALG00000012919,263,156,220,173
ENSGALG00000005487,823,629,850,764
ENSGALG00000032092,645,447,313,338

In [33]:
# save new count matrix to file 
df_filtered.to_csv(count_filepath, sep='\t')

In [34]:
# This code generates the sample info. YOU WILL need to edit it for different species depending on the samples names.
# This will print a table with the sample name and the condition ( CTRL/PIC_4/PIC_8/LPS_4/LPS_8/...)

samples = []
conditions = []
for sample in df.columns:
    samples.append(sample)
    #condition = "LPS"
    hour = 0
    if "control" in sample or "ctrl" in sample or "CTRL" in sample: # this might need to be changed if the sample name contains "CTRL" instead of "control"
        condition = "CTRL"
    else:
        print(sample)
        hour = re.search("([0-9]+)h", sample).group(1)
        if "pic" in sample:
            condition = f"pic_{hour}"
        if "lps" in sample:
            condition = f"lps_{hour}"
        if "lf" in sample:
            condition = f"lf_{hour}"
    conditions.append(condition)

info_df = pd.DataFrame({"sample": samples,"type": conditions})
info_df

chicken_a_pic_8h
chicken_d_pic_8h

                sample   type
0  chicken_a_control_1   CTRL
1  chicken_a_control_2   CTRL
2     chicken_a_pic_8h  pic_8
3     chicken_d_pic_8h  pic_8

In [35]:
# save info to csv file
info_df.to_csv(info_filepath)