# What is this doing

at yafa

Takes the bulk RNA-seq data (the upregulated DE genes) and combines it with the gene gain & loss data I analyzed.

## Setup

### Imports

In [200]:
import numpy as np
import pandas as pd

import re
from itertools import product
from pathlib import Path

Path.cwd()

WindowsPath('c:/Code/src/bulk_rna')

### DataFrames Initialization

### I need to write something

In [201]:
# bulk rna upregulated genes

# animals = ['chicken_109', 'chicken_grcg6a', 'crocodile', 'turtle_painted', 'komodo'] 
animal = 'chicken_grcg6a'
sample_type = 'lps'
hour = 4


# gene gain & loss genes

# refs = ['gallus', 'human', 'lizard']
ref = 'gallus'

In [202]:
# read bulk rna upregulated genes

df_animals = pd.read_csv(f'../../data/bulk_rna/animals/{animal}/edge_r/filtered/significant_logfc/{sample_type}_{hour}_logfc_up.csv', index_col=0)
df_animals = df_animals.sort_index()

df_animals

                       logFC    logCPM        PValue        QValue
ENSGALG00000000059  1.175371  1.711033  1.426740e-02  2.481769e-01
ENSGALG00000000067  0.633855  4.037318  3.262309e-02  3.993413e-01
ENSGALG00000000081  6.193537  6.029632  2.040000e-21  1.810000e-18
ENSGALG00000000141  0.588222  7.852597  1.949192e-02  3.054268e-01
ENSGALG00000000162  1.362734  0.418444  4.007182e-02  4.489522e-01
...                      ...       ...           ...           ...
ENSGALG00000054636  1.679764 -0.684565  3.591047e-02  4.191960e-01
ENSGALG00000054912  4.674271 -0.754125  6.750000e-05  4.554726e-03
ENSGALG00000054974  5.067805 -2.105913  3.423045e-02  4.121840e-01
ENSGALG00000055048  4.924465 -2.125062  3.398657e-02  4.103563e-01
ENSGALG00000055117  2.069803  0.196378  1.927819e-02  3.031438e-01

[620 rows x 4 columns]

In [203]:
# read gene gain & loss genes

df_reptile = pd.read_csv(f'../../data/gain_loss/gene_difference/{ref}/{ref}_reptile_df_plus.csv', index_col=0)
df_reptile = df_reptile.sort_index()

df_reptile

,Gene Name,Archelosauria,Aves,Chrysemys picta bellii,Crocodylus porosus,Episquamata,Mammalia,Pogona vitticeps,Testudines,Toxicofera,Varanus komodoensis
Gene Id,,,,,,,,,,,
ENSGALG00000000003,PANX2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSGALG00000000011,C10orf88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSGALG00000000038,CTRB2,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0
ENSGALG00000000044,WFIKKN1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSGALG00000000048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
ENSGALG00000055118,NaN,NaN,NaN,45.0,NaN,NaN,NaN,4.0,NaN,NaN,2.0
ENSGALG00000055122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSGALG00000055127,NaN,NaN,NaN,132.0,6.0,NaN,NaN,13.0,NaN,NaN,8.0
ENSGALG00000055132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSGALG00000055137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### blah blah blah

In [204]:
# df_reptile.isin(df_animals)

df_combined = df_reptile.merge(df_animals, left_index=True, right_index=True, how='inner')

df_combined

,Gene Name,Archelosauria,Aves,Chrysemys picta bellii,Crocodylus porosus,Episquamata,Mammalia,Pogona vitticeps,Testudines,Toxicofera,Varanus komodoensis,logFC,logCPM,PValue,QValue
ENSGALG00000000059,TUBB3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.175371,1.711033,1.426740e-02,2.481769e-01
ENSGALG00000000067,SPR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.633855,4.037318,3.262309e-02,3.993413e-01
ENSGALG00000000081,IL4I1,NaN,NaN,7.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,6.193537,6.029632,2.040000e-21,1.810000e-18
ENSGALG00000000141,BLB1,NaN,NaN,6.0,1.0,NaN,NaN,10.0,NaN,NaN,14.0,0.588222,7.852597,1.949192e-02,3.054268e-01
ENSGALG00000000162,DMB1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.362734,0.418444,4.007182e-02,4.489522e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSGALG00000054636,NaN,NaN,4.0,9.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,1.679764,-0.684565,3.591047e-02,4.191960e-01
ENSGALG00000054912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.674271,-0.754125,6.750000e-05,4.554726e-03
ENSGALG00000054974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,5.067805,-2.105913,3.423045e-02,4.121840e-01
ENSGALG00000055048,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.924465,-2.125062,3.398657e-02,4.103563e-01
ENSGALG00000055117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.069803,0.196378,1.927819e-02,3.031438e-01

In [205]:
values_tokeep = ['Gene Name', 'Chrysemys picta bellii', 'Crocodylus porosus', 'Varanus komodoensis', 'logFC', 'PValue']     #'Gallus gallus', 'Human', 'Mouse']

df_combined = df_combined[values_tokeep]

df_combined.index.name = 'Gene Id'

df_combined

,Gene Name,Chrysemys picta bellii,Crocodylus porosus,Varanus komodoensis,logFC,PValue
Gene Id,,,,,,
ENSGALG00000000059,TUBB3,NaN,NaN,NaN,1.175371,1.426740e-02
ENSGALG00000000067,SPR,NaN,NaN,NaN,0.633855,3.262309e-02
ENSGALG00000000081,IL4I1,7.0,NaN,NaN,6.193537,2.040000e-21
ENSGALG00000000141,BLB1,6.0,1.0,14.0,0.588222,1.949192e-02
ENSGALG00000000162,DMB1,NaN,NaN,NaN,1.362734,4.007182e-02
...,...,...,...,...,...,...
ENSGALG00000054636,NaN,9.0,NaN,NaN,1.679764,3.591047e-02
ENSGALG00000054912,NaN,NaN,NaN,NaN,4.674271,6.750000e-05
ENSGALG00000054974,NaN,NaN,NaN,NaN,5.067805,3.423045e-02
ENSGALG00000055048,NaN,3.0,3.0,NaN,4.924465,3.398657e-02
ENSGALG00000055117,NaN,NaN,NaN,NaN,2.069803,1.927819e-02

## Export

In [207]:
# creating a new csv file with the three reptiles

df_combined.to_csv(f'../../data/gain_loss/gene_difference/{ref}/{ref}_combined_df.csv')